
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli',Arial, sans-serif;

}
/* --------------------header------------------------- */
header{
    height: 15vh;
    width: 100%;
    background-color: rgb(104, 171, 196)
    /* animation: myheader 2s ease-in-out forwards;
    -webkit-animation: myheader 2s ease-in-out forwards; */
}
h1 {
    margin-right: 23%;
    font-size: 35px;
    color: white;
    padding-top: 20px;
    height: 30px;
    /* animation: mycolor 3s 2s forwards;
    -webkit-animation: mycolor 3s 2s forwards; */
}
nav {
    display: flex;
    width: 100%; 
    /*vh=hauteurquis'adapte a la taille de l'écran*/
    min-height: 15vh;
    align-items: center;
    justify-content: end;
    
    flex-wrap: wrap;
    
}
/* animation for header */
/* @keyframes myheader {
    0% {
        top: 0;
        opacity: 0;
    }
    100% {
        top: 0;
        width: 100%;
        opacity: 1;
        background-color: rgb(104, 171, 196);
    }
} */
.menu-nav {
    display: flex;
    text-transform: uppercase;
    padding: 2% 5% 0 0;
    height: 30px;
margin: 5px;
}
li {
    list-style: none;
    width: 130px;
    text-align: center;
    
}
li a {
    font-family: 'Muli', sans-serif;
    text-decoration: none;
    color: white;
    /* animation: mycolor 3s 1s forwards;
    -webkit-animation: mycolor 3s 1s forwards; */
}
li a:hover,.active{
font-weight: bold;
font-size: 20px;


}
/* animation for logo/nav */
/* @keyframes mycolor {
    0% {}
    100% {
        color: white;
    }
} */
.bandeau{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    
}
.animation{
    background-color: rgb(220, 141, 100);
    position: absolute;
    width: 100%;
    height: 10px;    
}
.bandeau .fas{
    margin: 0 10px;
}

/* ----------------------container--------------------- */

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    flex-wrap: wrap;
}
/* -------------iSearch------------- */
.fiche-container {
    width: 40%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.fiches,
.fichesTransporteur {
    width: 80%;
    height: 90%;
    transition: transform 1.5s ease-in-out;
    transform-style: preserve-3d;
    -webkit-transition: transform 1.5s ease-in-out;
    -moz-transition: transform 1.5s ease-in-out;
    -ms-transition: transform 1.5s ease-in-out;
    -o-transition: transform 1.5s ease-in-out;
}
.fiche-container:hover .fiches,
.fiche-container:hover .fichesTransporteur {
    transform: rotateY(180deg);

}

.fiche-container figure {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    position: absolute;
    backface-visibility: hidden;

}
.iOffer,
.iSearch {
 
    background-color: rgb(104, 171, 196);
}
.iOffer h2,
.iSearch h2 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
.iOffer .nameTransporteur,
.iSearch .namePet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;

}
.iOffer .fas,
.iSearch .fas {
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.profilPet img,
.profilTransporteur img {
    border-radius: 50%;

    height: 100%;
}
.profilPet,
.profilTransporteur {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-around;
}
.blod {
    font-weight: bold;
}
.infoTrajet {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.trajet {
    text-align: center;
}
.trajet p {
    margin: 5px 0;
}
.profilProprio {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 10px;
    width: 100%;

}
.profilProprio img {
    width: 20%;
    border-radius: 5px;

}
.proprio {
    width: 60%;
}
.proprio h3 {
    margin: 10px 0;
}
.acceptTransporteur {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
}
.acceptTransporteur p {
    width: 45%;
    margin: 10px 0;
}
/*------------iSearchBack-------- */
.iOfferBack,
.iSearchBack {
    background-color: rgb(220, 141, 100);
    flex-direction: column;
    transform: rotateY(180deg);
    justify-content: space-around;
    text-align: center;
}
.iOfferBack p,
.iSearchBack p {
    padding: 0 20px;
    font-size: 18px;

}
.iOfferBack button,
.iSearchBack button {
    width: 30%;
    border: none;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    color: #626868;
}

/* profil hidden */
#hide {
    width: 98%;
    height: 240px;
    text-align: center;
    display: none;
}
#hide h3,
p {
    width: 100%;

}
#hideProprio {
    display: none;
    width: 95%;
    height: 90px;
    text-align: center;
}
/* -------------footer--------------- */
footer{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    color: #626868;

}
footer p {
    width: 30%;
}
footer a {
    text-decoration: none;
    color: #626868;
    margin: 0 10px;

}
footer .soc-icons{
    width: 30%;
}
footer .soc-icons span{
    vertical-align: super;
}
/* ---------------contact-------------------- */
.body-contact {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    flex-direction: column;
    
    

}
.titreForm {
    
    text-transform: uppercase;
    color: #626868;
    text-align: center;
width: 100%;
} 
.form,
.mail,
.text {
    width: 50%;
    height: 60px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

}
.form input,
.mail input,
.text input {
    width: 100%;
    height: 100%;
    color: #1e3c58;
    padding-top: 20px;
    border: none;
    background-color: transparent;
    font-size: 20px;
}
.form label,
.mail label,
.text label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: rgb(104, 171, 196);
    border-bottom: 1px solid rgb(104, 171, 196);
    font-size: 22px;
}
.form label::after,
.mail label::after,
.text label::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid rgb(220, 141, 100);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.mailContent,
.nameContent,
.textContent {
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;

} 
/* ouvre l'espace pour ecrire et empeche qu'elle se referme si text*/
.form input:focus + .nameLabel .nameContent,
.form input:valid + .nameLabel .nameContent,
.mail input:focus + .mailLabel .mailContent,
.mail input:valid + .mailLabel .mailContent,
.text input:focus + .textLabel .textContent,
.text input:valid + .textLabel .textContent {
    transform: translateY(-150%);
    font-size: 20px;
    color: rgb(220, 141, 100);

} 
/*fait glisse le borderB bleu sous le input*/
.form input:focus + .nameLabel::after,
.form input:valid + .nameLabel::after,
.mail input:focus + .mailLabel::after,
.mail input:valid + .mailLabel::after,
.text input:focus + .textLabel::after,
.text input:valid + .textLabel::after {
    transform: translateX(0%);

}
.btnForm {
    width: 25%;
    text-align: end;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

}
.btn {
    padding: 15px 40px;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: rgb(104, 171, 196);
    border-radius: 5%;
}
/*-------------------regex-----------------*/

.regex{
    color:rgb(255, 3, 3);
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 0;
    text-transform: uppercase;
}
.error{
    color:rgb(255, 136, 0);
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 0;
    text-transform: uppercase;
}
.good{
    color:rgb(74, 236, 96);
    font-size: 16px;
    position: absolute;
    top: 30px;
    right: 0;
    text-transform: uppercase;
}


/*-------------------cherche----------------*/
.title{
    width: 100%;
    text-align: center;
    color: #626868;
}
#form-search, #form-propose, #form-connexion-user, #form-inscription-user{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
flex-direction: column;
}
#form-search div, #form-propose div, #form-connexion-user div, #form-inscription-user div{
width: 100%;
display: flex;
justify-content: space-between;
margin: 20px 0;
}

#form-search label,#form-propose label, #form-connexion-user label, #form-inscription-user label{
    width: 10%;
    color: #626868;
    margin: auto 0;
    font-size: 17px;

}

#form-search input, #form-search select, #form-connexion-user input, #form-connexion-user select{
    width: 30%;
    color: rgb(255, 136, 0);
    height: 50px;
    border: 2px solid rgb(104, 171, 196);
    border-radius: 5px;   
    font-size: 15px;
    text-align: center;
    
}

#form-search .btn-search, #form-connexion-user .btn-connexion-user{
    padding: 15px 40px;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: rgb(104, 171, 196);
    border-radius: 5px;
    margin: 30px auto;
    width: 20%;
 
}
#form-propose input, #form-propose select, #form-inscription-user input, #form-inscription-user select{
    width: 30%;
    color: rgb(104, 171, 196);
    height: 50px;
    border: 2px solid rgb(255, 136, 0);
    border-radius: 5px;   
    font-size: 15px;
    text-align: center;
    
}

#form-propose .btn-propose,  #form-inscription-user .btn-inscription-user {
    padding: 15px 40px;
    border: none;
    font-size: 15px;
    color: white;
    cursor: pointer;
    background-color: rgb(255, 136, 0);
    border-radius: 5px;
    margin: 30px auto;
    width: 20%;
 
}
h2 a{
    text-decoration: none;
    color: #626868;
}
h2 a:hover{
    font-size: 30px;
    color: rgb(255, 136, 0);
}

/* ---------------------compte--------------------------- */
.choice-compte{
    width: 100%;
    height: 100%;
    text-align: center;
}
.btn-choice{

    width: 25%;
    height: 20%;
    margin: 10%;
    border: none;
border-radius: 5px;
cursor: pointer;
font-size: 20px;
background: rgb(104, 171, 196);
color: white;
}
/* --------------profil transporteur---------------- */
.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    flex-wrap: wrap;
}
/* -------------iSearch------------- */
.fiche-container {
    width: 40%;
    height: 80vh;
    position: relative;
    display: flex;
    justify-content: space-around;
}


.ficheProfilTransporteur{
    width: 80%;
    height: 90%;
    transition: transform 1.5s ease-in-out;
    transform-style: preserve-3d;
    -webkit-transition: transform 1.5s ease-in-out;
    -moz-transition: transform 1.5s ease-in-out;
    -ms-transition: transform 1.5s ease-in-out;
    -o-transition: transform 1.5s ease-in-out;
}
.fiche-container:hover .fiches,
.fiche-container:hover .fichesTransporteur {
    transform: rotateY(180deg);

}

.fiche-container figure {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    position: absolute;
    backface-visibility: hidden;

}
.iOffer,
.iSearch {
 
    background-color: rgb(104, 171, 196);
}
.iOffer h2,
.iSearch h2 {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    margin: 10px;
}
.iOffer .nameTransporteur,
.iSearch .namePet {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;

}
.iOffer .fas,
.iSearch .fas {
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.profilPet img,
.profilTransporteur img {
    border-radius: 50%;

    height: 100%;
}
.profilPet,
.profilTransporteur {
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: space-around;
}
.blod {
    font-weight: bold;
}
.infoTrajet {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.trajet {
    text-align: center;
}
.trajet p {
    margin: 5px 0;
}

.acceptTransporteur {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
}
.acceptTransporteur p {
    width: 45%;
    margin: 10px 0;
}
.label-file {
    cursor: pointer;
    color: black;
    font-weight: bold;
}

.input-file {
    display: none;
}
